name: Publish

on:
  push:
    branches:
      - main
      - alpha

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json

      - name: Install
        run: bun install

      - name: Setup node for npm publish
        uses: actions/setup-node@v6

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
